nav.navbar.navbar-light.bg-faded.navbar-fixed-top
	.container
		button.navbar-toggler.hidden-sm-up(style="color: white;", type='button', data-toggle='collapse', data-target='#navbar', aria-controls='#navbar', aria-expanded='false', aria-label='Toggle navigation') ☰
		#navbar.collapse.navbar-toggleable-xs
			ul.nav.navbar-nav
				li.nav-item
					a.nav-link(href='#work') Work
				li.nav-item
					a.nav-link(href='#projects') Projects
				li.nav-item
					a.nav-link(href='#education') Education
				li.nav-item
					a.nav-link(href='#about') About
