nav.navbar.navbar-light.bg-faded
	.container
		ul.nav.navbar-nav
			li.nav-item.active
				a.nav-link(href='#')
					| Home
					span.sr-only (current)
			li.nav-item
				a.nav-link(href='#') ABOUT
			li.nav-item
				a.nav-link(href='#') EDUCATION
			li.nav-item
				a.nav-link(href='#') WORK
			li.nav-item
				a.nav-link(href='#') PROJECTS
