nav.navbar.navbar-light.bg-faded
	.container
		ul.nav.navbar-nav
			li.nav-item.active
				a.nav-link(href='#')
					| Home
					span.sr-only (current)
			li.nav-item
				a.nav-link(href='#') About
			li.nav-item
				a.nav-link(href='#') Education
			li.nav-item
				a.nav-link(href='#') Work
			li.nav-item
				a.nav-link(href='#') Projects
