footer
	.container
		.row
			.col-xs-7.credits
						p © 2016 Andrew Martone
						p Design inpsiration from
							a(href="https://material.google.com/")  Google Material Design
						p Cool matrix text affect by
							a(href="http://codepen.io/soulwire/")  @soulwire
						p If you like this website, check out the code on
							a(href="https://github.com/amartone/personal-website")  Github!
			.col-xs-3.find-me
				h4(style="color: #FFFFFF; padding-top: 5px;") Find me on:
				ul.list-group.find-me-on
					li.list-group-item
						a.hvr-bounce-in(href="https://www.producthunt.com/@martone")
							img.img-fluid(style="height:30px; width: auto", src="/images/product-hunt.svg")
					li.list-group-item
						a.hvr-bounce-in(href="https://github.com/amartone")
							img.img-fluid(style="height:20px; width: auto", src="/images/github-long.svg")
					li.list-group-item
						a.hvr-bounce-in(href="https://www.linkedin.com/in/martoneandrew")
							img.img-fluid(style="height:25px; width: auto", src="/images/linkedin.svg")
					li.list-group-item
						a.hvr-bounce-in(href="stackoverflow.com/users/1513434/andrew")
							img.img-fluid(style="height:30px; width: auto", src="/images/stackoverflow.svg")
			.col-xs-2.powered-list(style="padding-bottom:20px; padding-top: 5px;")
				h4(style="color: #FFFFFF;") Built with:
				ul.list-group
					li.list-group-item
						p AngularJS
					li.list-group-item
						p Bootstrap
					li.list-group-item
						p HoverCSS
					li.list-group-item
						p ParticlesJS
					li.list-group-item
						p Gulp
					li.list-group-item
						p Firebase
