footer
	.container
		.row
			.col-xs-12.col-lg-7.credits
						p © 2016 Andrew Martone
						//- p Design inpsiration from
						//- 	a(href="https://material.google.com/")  Google Material Design
						//- p Cool matrix text affect by
						//- 	a(href="http://codepen.io/soulwire/")  @soulwire
						p If you like this website, check out the code on 
							a.footer-link(href="https://github.com/amartone/personal-website") Github!
			.col-xs-12.col-md-6.col-lg-3.find-me
				h4(style="color: #FFFFFF; padding-top: 5px;") Find me on:
				ul.list-group.find-me-on
					li.list-group-item
						a.hvr-bounce-in(href="https://www.producthunt.com/@martone")
							img.img-fluid(style="height:30px; width: auto", src="/images/product-hunt.svg")
					li.list-group-item
						a.hvr-bounce-in(href="https://github.com/amartone")
							img.img-fluid(style="height:20px; width: auto", src="/images/github-long.svg")
					li.list-group-item
						a.hvr-bounce-in(href="https://www.linkedin.com/in/martoneandrew")
							img.img-fluid(style="height:25px; width: auto", src="/images/linkedin.svg")
					li.list-group-item
						a.hvr-bounce-in(href="stackoverflow.com/users/1513434/andrew")
							img.img-fluid(style="height:30px; width: auto", src="/images/stackoverflow.svg")
			.col-xs-12.col-md-6.col-lg-2
					h4(style="color: #FFFFFF;") Built with:
					img.img-fluid(style="max-height: 75px;" src="/images/angular.svg")
					img.img-fluid(style="max-height: 75px; padding-bottom:8px; padding-top:8px;" src="/images/bootstrap-long.svg")
					img.img-fluid(style="max-height: 75px;" src="/images/gulp-white-text.svg")
