footer
	.container
		.row
			.col-xs-8
				ul.list-group.credits(style="position: absolute; bottom: 0;")
					li.list-group-item
						p © 2016 Andrew Martone
					li.list-group-item
						p Design inpsiration from
							a(href="https://material.google.com/")  Google Material Design
					li.list-group-item
						p Cool matrix text affect by
							a(href="http://codepen.io/soulwire/")  @soulwire
					li.list-group-item
						p If you like this website, check out the code on
							a(href="https://github.com/amartone/personal-website")  Github!
			.col-xs-4
				ul.list-group.powered.pull-xs-right
					li.list-group-item
						h2.pull-xs-left Built with: 
					li.list-group-item.powered-by
						h3.pull-xs-left AngularJS
					li.list-group-item.powered-by
						h3.pull-xs-left Bootstrap
					li.list-group-item.powered-by
						h3.pull-xs-left HoverCSS
					li.list-group-item.powered-by
						h3.pull-xs-left ParticlesJS
					li.list-group-item.powered-by
						h3.pull-xs-left Gulp
					li.list-group-item.powered-by
						h3.pull-xs-left Firebase
