section.work(id="work" ng-controller="WorkCardController as model")
	.container
		.row
			h2.section-title WORK
		.row
			.card-deck-wrapper
				.card-deck
					work-card(ng-repeat="card in model.workCards")

section.projects(id="projects" ng-controller="ProjectCardController as model")
	.container
		.row
			h2.section-title PROJECTS
		.row
			.card-deck-wrapper
				.card-deck
					project-card(ng-repeat="card in model.projectCardsRow1")
		.row(style="padding-top:15px;")
			.card-deck-wrapper
				.card-deck
						project-card(ng-repeat="card in model.projectCardsRow2")

section.education(id="education")
	.container
		.row
			h2.section-title() EDUCATION
		.row
			.col-xs-12
				img.img-fluid(style="height: 80px; width: auto;", src="/images/nulogo.png" )
		.row
			.col-xs-6
				.education-photo
					img.img-thumbnail.img-fluid(src="/images/nu-night-700px.jpg")
			.col-xs-6
				ul.list-group.card-text
					li.list-group-item
							h5.list-group-item-heading Degree
							p.list-group-item-text Bachelor of Science in Computer Engineering, Minor in Computer Science
					li.list-group-item
							h5.list-group-item-heading Favorite classes
							p.list-group-item-text Object-Oriented Design, Database Design, Web Development, Wireless Sensor Networks, Optimization Methods (I and II), Software Project Management
					li.list-group-item
							h5.list-group-item-heading Activities
							p.list-group-item-text Founding Father of Zeta Beta Tau fraternity (Gamma Psi Chapter), semester study abroad in London, UK.
					li.list-group-item
							h5.list-group-item-heading Honors
							p.list-group-item-text Deans List (Spring ‘15, '16'), Harry and Frances Keegan Scholarship (‘15)
section.aboutme(id="about")
	.container
		.row
			h2.section-title ABOUT ME
		.row
			.col-xs-8
				p
				| Lorem ipsum dolor sit amet,
				|consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.col-xs-4
				img.img-thumbnail.img-fluid(src="/images/propic.jpg")
