section.jumbotron.jumbotron-fluid.text-xs-center
		.container
			h1.jumbotron-heading Andrew Martone
			p.lead.text-muted Software Developer
			p
				a.btn.btn-secondary.btn-raised Get in touch

section.album
	.container
		.row
			h2.section-title WORK
			.card-deck
				work-card
				work-card
				work-card
section.album
	.container
		.row
			h2.section-title PROJECTS
			.card-deck
				work-card
				work-card
				work-card

section.education
	.container
		.row
			h2.section-title EDUCATION
			.education-info
				h2.text-xs-center NORTHEASTERN UNIVERSITY
				img.img-thumbnail.img-fluid.m-x-auto(src="/images/nu-night-700px.jpg")
