section.jumbotron.text-xs-center
  .container
    h1.jumbotron-heading Andrew Martone
    p.lead.text-muted Software Developer
    p
      a.btn.btn-secondary(href='#') Get in touch
.album.text-muted
  .container
    .row
      .card
        img(src='https://wiki.videolan.org/images/Ubuntu-logo.png', alt='Card image cap')
        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card
        img(src='https://wiki.videolan.org/images/Ubuntu-logo.png', alt='Card image cap')
        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card
        img(src='https://wiki.videolan.org/images/Ubuntu-logo.png', alt='Card image cap')
        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card
        img(src='https://wiki.videolan.org/images/Ubuntu-logo.png', alt='Card image cap')
        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card
        img(src='https://wiki.videolan.org/images/Ubuntu-logo.png', alt='Card image cap')
        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card
        img(src='https://wiki.videolan.org/images/Ubuntu-logo.png', alt='Card image cap')
        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card
        img(src='https://wiki.videolan.org/images/Ubuntu-logo.png', alt='Card image cap')
        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card
        img(src='https://wiki.videolan.org/images/Ubuntu-logo.png', alt='Card image cap')
        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      .card
        img(src='https://wiki.videolan.org/images/Ubuntu-logo.png', alt='Card image cap')
        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
