section.jumbotron.jumbotron-fluid.text-xs-center
		.container
			h1.jumbotron-heading Andrew Martone
			p.lead.text-muted Software Developer
			p
				a.btn.btn-secondary.btn-raised(href='#') Get in touch

section.album
	.container
		.row
			.card-deck
				work-card
				work-card
				work-card
