section.jumbotron.jumbotron-fluid.text-xs-center
		.container
			h1.jumbotron-heading Andrew Martone
			p.lead.text-muted Software Developer
			p
				a.btn.btn-secondary.btn-raised Get in touch

section.album
	.container
		.row
			h2.section-title WORK
		.row
			.card-deck.m-x-auto
				work-card
				work-card
				work-card

section.album
	.container
		.row
			h2.section-title PROJECTS
		.row
			.card-deck.m-x-auto
				work-card
				work-card
				work-card

section.education
	.container
		.row
			h2.section-title EDUCATION
		.row
			.education-photo.m-x-auto
				h2.text-xs-center NORTHEASTERN UNIVERSITY
				img.img-thumbnail.img-fluid(src="/images/nu-night-700px.jpg")
		.row
			ul.list-group
				li.list-group-item
					i.material-icons computer
					.bmd-list-group-col
						p.list-group-item-heading Degree
						p.list-group-item-text Bachelor of Science in Computer Engineering
				li.list-group-item
					i.material-icons create
					.bmd-list-group-col
						p.list-group-item-heading Favorite classes
						p.list-group-item-text Object-Oriented Design, Database Design, Web Development, Wireless Sensor Networks, Optimization Methods (I and II), Software Project Management
				li.list-group-item
					i.material-icons directions_run
					.bmd-list-group-col
						p.list-group-item-heading Activities
						p.list-group-item-text Founding Father of Zeta Beta Tau fraternity (Gamma Psi Chapter)
				li.list-group-item
					i.material-icons school
					.bmd-list-group-col
						p.list-group-item-heading Honors
						p.list-group-item-text Deans List (Spring ‘15, '16'), Harry and Frances Keegan Scholarship (‘15)
