.card.text-xs-center.hvr-grow
	img.card-img-top(src='https://wiki.videolan.org/images/Ubuntu-logo.png', alt='Card image cap')
	.card-block
		h4.card-title Card title
		p.card-text This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
